<h2>dynamic visualizations</h2>

<a class="nav-link" href="http://omics.gmu.edu/swine_h1n1/">SWINE H1N1</a>
<a class="nav-link" href="http://omics.gmu.edu/swine_h3n2/">SWINE H3N2</a>
<a class="nav-link" href="http://omics.gmu.edu/human_h1n1/">HUMAN H1N1</a>
<a class="nav-link" href="http://omics.gmu.edu/human_h3n2/">HUMAN H3N2</a>
<a class="nav-link" href="http://omics.gmu.edu/avian_h5/">AVIAN H5</a>
<a class="nav-link" href="http://omics.gmu.edu/h7n9/">ALL H7N9</a>
<a class="nav-link" href="http://omics.gmu.edu/human_all/">HUMAN ALL</a>