<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main') }}">overview</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('node_counts') }}">node counts</a></li>
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('edge_counts') }}">edge counts</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('topN_nodes') }}">topN nodes</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('topN_edges') }}">topN edges</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">search</a></li>
            </ul>
        </nav>

        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            {% include "bokeh_edgecount.html" %}
        </div>

    </div>
</div>